$fontColor: black;
$fontColor: rgb(44, 34, 34);

@mixin double {
    width: 100%;

    input, select {
        width: 250px;
        height: 25px;
        margin-top: 10px;
    }

    input:first-child, select:first-child {
        margin-right: 20px;
    }
}

%button {
    background-color: rgb(240, 223, 223);
    border: 1px solid gray;
    border-radius: 5px;
}

%flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%fontTitle {
    font-size: 20px;
    font-weight: 700;
}