@import '../../consts/variables.scss';

.list {
    height: auto;
    width: 100%;
    @extend %flex;

    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
        @extend %fontTitle;
    }
}