@import '../../consts/variables.scss';

.list {
    height: auto;
    width: 100%;
    @extend %flex;

    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
        @extend %fontTitle;
    }
}

@media screen and (max-width:600px) {
    .list {
        
        &__title {
            font-size: 16px;
        }
    }
}